.CodeMirror {
	border: 1px solid #eee;
	height: auto;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

option.emptyOption  {
	color: #a2a2a2;
	font-style: italic;
}

span.dbInfo {
	margin-left: 20px;
	font-size: 12px;
	color: #a2a2a2;
}
#addTab {
	cursor: pointer;
}
i.fa-trash {
	cursor: pointer;
}

document {
	overflow: scroll;
}