<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				Filebrowser
			</h1>
			<ol class="breadcrumb"
				th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>

		<section class="content">

			<div class="box box-info">

				<div th:if="${exceptionMessage != null}" class="alert alert-danger alert-dismissible">
					<button class="close" aria-hidden="true" data-dismiss="alert"
						type="button">×</button>
					<h4>
						<i class="icon fa fa-warning"></i> An Exception has been occurred!
					</h4>
					<span th:text="${exceptionMessage}"></span>
				</div>

				<div class="box-header with-border">
					<h3 class="box-title">
						<i class="fa fa-folder-open"></i>
						<th:block th:each="dir, dirIterState : ${@adminToolFilebrowserService.getBreadcrumb(currentDir)}">
							<a th:href="@{${rootContext} + '/filebrowser/dir'(dir=${@adminToolFilebrowserService.encodeURL(dir.getAbsolutePath())})}" 
								th:text="${@adminToolFilebrowserService.getDirOrRootName(dir)}"></a><span>/</span>
						</th:block>
					</h3>
				</div>
				
				<div class="box-header with-border">
					<div class="row text-center">
						<div class="col-md-1 col-xs-2">Roots: </div>
						<div class="col-md-7 col-xs-8 text-center">
							<a th:each="rootDir, colIterState : ${@adminToolFilebrowserService.getRootDirs()}"
								th:class="'btn btn-sm btn-primary' + ${@adminToolFilebrowserService.isRootActive(rootDir, currentDir) ? ' active' : ''}"
								th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(rootDir)})}"
								th:text="'[' + ${rootDir} + ']'">
							</a>
						</div>
						<div class="col-md-4 col-xs-2">
							<div class="pull-right form-inline">
								<form name="fileListForm" id="fileListForm" method="post" th:action="${rootContext} + '/filebrowser'">
									<input type="hidden" name="dir" th:value="${currentDir}" />
									<input type="hidden" name="sortCol" th:value="${sortCol}" />
									<input type="hidden" name="sortAsc" th:value="${null != sortAsc ? !sortAsc : true}" />
									<input type="text" name="filter" id="fileFilter" value="" placeholder="Wildcard file/dir name filter" class="form-control" title="Wildcard filter for file and directorie names (*,? allowed)"/>
									<button name="filterFiles" type="submit" id="filterFiles" class="btn btn-default"><i class="fa fa-filter" aria-hidden="true"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<form name="fileListForm" id="fileListForm" th:action="${rootContext} + '/filebrowser/zip'" method="post">
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-hover no-margin">
								<thead>
									<tr>
										<td></td>
										<th>
											<a th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(currentDir)},sortCol=1,sortAsc=${null != sortAsc ? !sortAsc : true},filter=${filter})}">Name</a>
											<i th:if="${sortCol != null and sortCol.getIndex() == T(de.chandre.admintool.filebrowser.SortColumn).NAME.getIndex()}"
													th:with="direction = ${@adminToolFilebrowserService.getSortDirection(1, sortCol, sortAsc)}" 
													th:class="'fa fa-long-arrow-'+ ${direction}" aria-hidden="true"></i>
										</th>
										<th>
											<a th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(currentDir)},sortCol=2,sortAsc=${null != sortAsc ? !sortAsc : true},filter=${filter})}">Size</a>
											<i th:if="${sortCol != null and sortCol.getIndex() == T(de.chandre.admintool.filebrowser.SortColumn).SIZE.getIndex()}"
													th:with="direction = ${@adminToolFilebrowserService.getSortDirection(2, sortCol, sortAsc)}" 
													th:class="'fa fa-long-arrow-'+ ${direction}" aria-hidden="true"></i>
										</th>
										<th>
											<a th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(currentDir)},sortCol=3,sortAsc=${null != sortAsc ? !sortAsc : true},filter=${filter})}">Type</a>
											<i th:if="${sortCol != null and sortCol.getIndex() == T(de.chandre.admintool.filebrowser.SortColumn).TYPE.getIndex()}"
													th:with="direction = ${@adminToolFilebrowserService.getSortDirection(3, sortCol, sortAsc)}" 
													th:class="'fa fa-long-arrow-'+ ${direction}" aria-hidden="true"></i>
										</th>
										<th>
											<a th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(currentDir)},sortCol=4,sortAsc=${null != sortAsc ? !sortAsc : true},filter=${filter})}">Date</a>
											<i th:if="${sortCol != null and sortCol.getIndex() == T(de.chandre.admintool.filebrowser.SortColumn).DATE.getIndex()}"
													th:with="direction = ${@adminToolFilebrowserService.getSortDirection(4, sortCol, sortAsc)}" 
													th:class="'fa fa-long-arrow-'+ ${direction}" aria-hidden="true"></i>
										</th>
										<th>Actions
										</th>
									</tr>
								</thead>
								<tbody>
								
									<tr th:with="parentDir=${@adminToolFilebrowserService.getParent(currentDir)}">
										<td></td>
										<td><a th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(parentDir)})}">[..]</a></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr >
										<td colspan="6" class="text-center"><em><span class="small">[directories]</span></em></td>
									</tr>
									
									<tr th:each="directory, colIterState : ${@adminToolFilebrowserService.getDirectories(currentDir, sortCol, sortAsc, filter)}">
										<td><input type="checkbox" name="selectedFile" th:value="${directory.getAbsolutePath()}" class="dir"/></td>
										<td>
											<a th:text="'[' + ${directory.getName()} + ']'" 
												th:href="@{${rootContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(directory.getAbsolutePath())})}"></a>
										</td>
										<td></td>
										<td th:text="${@adminToolFilebrowserService.getFileType(directory)}"></td>
										<td th:text="${#dates.format(@adminToolFilebrowserService.getLastChange(directory), 'dd.MMM.yyyy HH:mm:ss')}"></td>
										<td></td>
									</tr>
									<tr >
										<td colspan="6" class="text-center">
											<em><span class="small" th:text="'[' + ${@adminToolFilebrowserService.getFileSizeSum(currentDir, filter)} + ']'"></span></em>
										</td>
									</tr>
									
									<tr th:each="file, colIterState : ${@adminToolFilebrowserService.getFiles(currentDir, sortCol, sortAsc, filter)}">
										<td><input type="checkbox" name="selectedFile" th:value="${file.getAbsolutePath()}" class="file"/></td>
										<td>
											<a th:text="${file.getName()}" 
												th:href="@{${rootContext} + '/filebrowser/file'(file=${@adminToolFilebrowserService.encodeURL(file.getAbsolutePath())})}"></a>
										</td>
										<td th:text="${@adminToolFilebrowserService.getFileSize(file)}"></td>
										<td th:text="${@adminToolFilebrowserService.getFileType(file)}"></td>
										<td th:text="${#dates.format(@adminToolFilebrowserService.getLastChange(file), 'dd.MMM.yyyy HH:mm:ss')}"></td>
										<td class="text-center"> 
											<a class="btn btn-xs btn-primary" 
												th:if="${@adminToolFilebrowserConfig.isDownloadAllowed()}" 
												th:href="@{${rootContext} + '/filebrowser/download'(file=${@adminToolFilebrowserService.encodeURL(file.getAbsolutePath())})}">Download</a>
												
											<a class="btn btn-xs btn-primary" 
												th:if="${@adminToolFilebrowserConfig.isDownloadAllowed()}" 
												th:href="@{${rootContext} + '/filebrowser/zip'(selectedFile=${@adminToolFilebrowserService.encodeURL(file.getAbsolutePath())})}">Zip</a>
												
											<a  class="btn btn-xs btn-primary"
												th:if="${@adminToolFileviewerService.isExtensionAllowedAndReadable(file)}" 
												th:href="@{${rootContext} + '/fileviewer/show'(file=${@adminToolFilebrowserService.encodeURL(file.getAbsolutePath())})}">Show</a>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer clearfix">
						<button id="selectDirs" type="button" class="btn btn-default">Select all dirs</button>
						<button id="selectFiles" type="button" class="btn btn-default">Select all files</button>
						<button name="download" type="submit" class="btn btn-default">Download selected files as ZIP</button>
					</div>
				</form>
				
			</div>

		</section>
	</div>
</body>
</html>


