<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				Fileviewer <span class="small">[<a th:href="@{${adminToolContext} + '/filebrowser'(dir=${@adminToolFilebrowserService.encodeURL(currentDir)})}">
					<th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.fileviewer.link.back', 'back to Filebrowser')" />
				</a>]</span>
			</h1>
			<ol class="breadcrumb"
				th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>

		<section class="content">
		
			<span id="cmVersion" class="invisible" th:text="${@adminToolFileviewerConfig.getCodeMirrorVersion()}"></span>
			<span id="fileExtension" class="invisible" th:text="${@adminToolFileviewerService.getExtension(currentFile)}"></span>
			<span id="readOnly" class="invisible" th:text="${@adminToolFileviewerConfig.isReadOnly()}"></span>

			<form name="fileViewForm" id="fileViewForm" th:action="@{${adminToolContext} + '/fileviewer/show'}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div class="box box-info">

					<div th:if="${exceptionMessage != null}" class="alert alert-danger alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert"
							type="button">x</button>
						<h4>
							<i class="icon fa fa-warning"></i> <th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.filebrowser.exception.headline', 'An Exception has been occurred!')" />
						</h4>
						<span th:text="${exceptionMessage}"></span>
					</div>

					<div class="box-header with-border">
						<h3 class="box-title">
							<i class="fa fa-folder-open"></i>
							<span th:text="${currentFile.getAbsolutePath()}"></span>
						</h3>
					</div>
	
					<div class="box-body">
						<div class="row">
							<div class="col-md-2 col-xs-3">
								<th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.fileviewer.text.encoding', 'Encoding')" />
							</div>
							<div class="col-md-4 col-xs-6">
								<select class="form-control" name="encoding">
									<option th:each="encoding, iterState : ${@adminToolFileviewerConfig.getEncodings()}"
										th:text="${encoding}" th:value="${encoding}" th:selected="${selEncoding.equals(encoding)}"></option>
								</select>
								<input type="hidden" name="file" th:value="${currentFile.getAbsolutePath()}"/>
							</div>
							<div class="col-md-2 col-xs-3"><button name="reload" type="submit" class="btn btn-default">
								<th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.fileviewer.btn.reload', 'reload')" />
							</button></div>
						</div>
					</div>
				</div>
			</form>
			
			<form name="fileViewForm" id="fileViewForm" th:action="@{${adminToolContext} + '/fileviewer/update'}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div class="box box-info">

					<div class="box-header with-border">
						<div class="row" id="permissions">
							<div class="row">
								<div class="col-md-2 col-xs-3 btn-sm" title="File attributes">
									<th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.fileviewer.text.states', 'Security states:')" />
								</div>
								<div class="col-md-10 col-xs-9">
									<div th:class="'col-md-2 col-xs-2 text-center btn-sm' + ${!currentFile.isHidden() ? ' bg-success' : ' bg-danger'}"
										th:text="${currentFile.isHidden() ? 'invisble' : 'visible'}"
										title="if the file is marked as hidden"></div>
									<div class="col-md-1 col-xs-1"></div>
									<div th:class="'col-md-2 col-xs-2 text-center btn-sm' + ${currentFile.canRead() ? ' bg-success' : ' bg-danger'}"
										th:text="${currentFile.canRead() ? 'readable' : 'unreadable'}"
										title="if the file permission allows to read this file"></div>
									<div class="col-md-1 col-xs-1"></div>
									<div th:class="'col-md-2 col-xs-2 text-center btn-sm' + ${currentFile.canWrite() ? ' bg-success' : ' bg-danger'}"
										th:text="${currentFile.canWrite() ? 'writeable' : 'read-only'}"
										title="if the file is marked as read-only"></div>
									<div class="col-md-1 col-xs-1"></div>
									<div th:class="'col-md-2 col-xs-2 text-center btn-sm' + ${@adminToolFileviewerConfig.isReadOnly() ? ' bg-success' : ' bg-danger'}"
										th:text="${@adminToolFileviewerConfig.isReadOnly() ? 'DM not allowed' : 'DM allowed'}"
										title="if data manipulation is allowed or not (this is a configured value)"></div>
								</div>
							</div>
						</div>
					</div>
	
					<div class="box-body" id="fileviewer">
						<div class="row">
							<div class="col-md-12 col-xs-12">
							
								<textarea name="fileContent" id="fileContent" class="form-control" 
									th:text="${@adminToolFileviewerService.readFileToString(currentFile, selEncoding)}"></textarea>
									
								<input type="hidden" name="file" th:value="${currentFile.getAbsolutePath()}"/>
							</div>
						</div>
					</div>
					
					<div class="box-footer clearfix" >
						<div class="row" th:if="${@adminToolFileviewerService.isChangeable(currentFile)}">
							<div class="col-md-4 col-xs-4">
								<select class="form-control" name="encoding">
									<option th:each="encoding, iterState : ${@adminToolFileviewerConfig.getEncodings()}"
										th:text="${encoding}" th:value="${encoding}" th:selected="${selEncoding.equals(encoding)}"></option>
								</select>
							</div>
							<div class="col-md-6 col-xs-6"></div>
							<div class="col-md-2 col-xs-2">
								<button  name="save" type="submit" class="btn btn-default">
									<th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.fileviewer.btn.save', 'Save changes')" />
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</div>
</body>
</html>


