<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				Properties
			</h1>
			<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>
		
		<section class="content">
		
			<div class="box box-info" th:if="not ${@adminToolPropertiesService.hasGitProperties()}">
				<div class="box-header with-border">
					<h3 class="box-title">Environment-Properties</h3>
				</div>
				<div class="box-body">
					<th:block th:include="admintool/properties/fragments/propFragment :: propertyInclude (${@adminToolPropertiesService.getEnvProperty()}, 'envProps')" />
				</div>
			</div>
		
			<div class="nav-tabs-custom" th:if="${@adminToolPropertiesService.hasGitProperties()}">
				<ul class="nav nav-tabs" id="tabNavProps">
					<li class="active">
						<a data-toggle="tab" href="#tabPane_1" aria-expanded="true">Git-Properties</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#tabPane_2" aria-expanded="true">Environment-Properties</a>
					</li>
				</ul>
				
				<div class="tab-content" id="tabContent">
					<div id="tabPane_1" class="tab-pane active">
						<th:block th:include="admintool/properties/fragments/propFragment :: propertyInclude (${@adminToolPropertiesService.getGitProperties()}, 'gitProps')" />
					</div>
					<div id="tabPane_2" class="tab-pane">
						<th:block th:include="admintool/properties/fragments/propFragment :: propertyInclude (${@adminToolPropertiesService.getEnvProperty()}, 'envProps')" />
					</div>
				</div>
				
			</div>
			
			
		</section>
	</div>
</body>
</html>