<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				Properties
			</h1>
			<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>
		
		<section class="content">
		
			<div class="nav-tabs-custom" th:with="hasGit=${@adminToolPropertiesService.hasGitProperties()}">
				<ul class="nav nav-tabs" id="tabNavProps">
					<li th:class="${hasGit}? 'active' : ''" th:if="${hasGit}">
						<a data-toggle="tab" href="#tabPane_1" aria-expanded="true">Git-Properties</a>
					</li>
					<li class="${hasGit}? '' : 'active'" th:if="${@adminToolPropertiesConfig.isShowEnvironmentProperties()}">
						<a data-toggle="tab" href="#tabPane_2" aria-expanded="true">Environment-Properties</a>
					</li>
					<th:block th:with="props=${@adminToolPropertiesService.getAdditionalProperyNames()}">
					
						<li th:if="${not #maps.isEmpty(props)}" th:each="entry, iterState : ${props}" class="">
							<a data-toggle="tab" th:href="'#tabPane_3' + ${entry.getKey()}" aria-expanded="true" th:text="${entry.getValue()}">Properties</a>
						</li>
					
					</th:block>
				</ul>
				
				<div class="tab-content" id="tabContent">
				
					<div id="tabPane_1" class="tab-pane active" th:if="${@adminToolPropertiesService.hasGitProperties()}">
						<th:block th:include="admintool/properties/fragments/propFragment :: propertyInclude (${@adminToolPropertiesService.getGitProperties()}, 'gitProps')" />
					</div>
					
					<div id="tabPane_2" class="tab-pane" th:if="${@adminToolPropertiesConfig.isShowEnvironmentProperties()}">
						<th:block th:include="admintool/properties/fragments/propFragment :: propertyInclude (${@adminToolPropertiesService.getEnvProperty()}, 'envProps')" />
					</div>
					
					<th:block th:with="props=${@adminToolPropertiesService.getAdditionalProperyNames()}">
					
						<div th:if="${not #maps.isEmpty(props)}" th:each="entry, iterState : ${props}" th:id="'tabPane_3' + ${entry.getKey()}" class="tab-pane">
							<th:block th:include="admintool/properties/fragments/propFragment :: propertyInclude (${@adminToolPropertiesService.getAdditionalProperies(entry.getKey())}, 'addProps' + ${iterState.count})" />
						</div>
					
					</th:block>
				</div>
				
			</div>
			
		</section>
	</div>
</body>
</html>