<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>	
	<!--/* Change trigger and Job modal */-->
	<div th:fragment="editJobTriggerModal" class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="jobModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="jobModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
				
					<form id="jobTriggerForm">
						<div class="row form-group job">
							<div class="col-xs-4"><label>JobGroup &amp; JobName</label></div>
							<div class="col-xs-4">
								<input type="text" class="form-control" id="jobGroup" value="" required="required" maxlength="200" />
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control" id="jobName" value="" required="required" maxlength="200" />
							</div>
						</div>
						<div class="clearfix job">&nbsp;</div>
						
						<div class="row form-group job edit_job">
							<div class="col-xs-4"><label for="description">Job Description</label></div>
							<div class="col-xs-8">
								<textarea id="description" name="description" class="form-control notRequired" maxlength="250"
									placeholder="Give your job a description"></textarea>
							</div>
						</div>
						<div class="clearfix job edit_job">&nbsp;</div>
						
						<div class="row form-group trigger">
							<div class="col-xs-4"><label>TriggerGroup &amp; TriggerName</label></div>
							<div class="col-xs-4">
								<input type="text" class="form-control" id="triggerGroup" value="" required="required" maxlength="200"/>
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control" id="triggerName" value="" required="required" maxlength="200"/>
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						
						<div class="row form-group trigger">
							<div class="col-xs-4"><label for="triggerDescription">Trigger Description</label></div>
							<div class="col-xs-8">
								<textarea id="triggerDescription" name="triggerDescription" class="form-control notRequired"
									maxlength="250" placeholder="Give your trigger a description"></textarea>
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						
						<!-- /**
						<div class="row form-group trigger edit_trigger">
							<div class="col-xs-4"><label for="triggerType">Trigger Type</label></div>
							<div class="col-xs-8">
								<input type="text" class="form-control" id="triggerType" name="triggerType" th:disabled="true" value="" />
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						**/ -->
						
						<div class="row form-group trigger">
							<div class="col-xs-4"><label for="triggerTypeList">Trigger Type</label></div>
							<div class="col-xs-8">
								<select class="form-control" id="triggerTypeList" name="triggerTypeList" >
									<!-- /** **/ -->
									<option value="CRON">Cron Trigger</option>
									<option value="SIMPLE">Simple Trigger</option>
									<option value="CALENDAR">Calendar Trigger</option>
									<option value="DAILY">Daily Interval Trigger</option>
									
								</select>
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						
						<div class="row form-group cron trigger">
							<div class="col-xs-4"><label for="cronExpression">Cron Expression</label>
								 <p class="help-block"><a href="http://www.cronmaker.com/" target="blank">Cron-Maker</a></p>
							</div>
							<div class="col-xs-8">
								<input type="text" class="form-control" id="cronExpression" name="cronExpression" value="" maxlength="120"/>
							</div>
						</div>
						<div class="clearfix cron trigger">&nbsp;</div>
						
						<div class="row form-group cron trigger">
							<div class="col-xs-4"><label for="timeZone">Time Zone</label></div>
							<div class="col-xs-8">
								<select class="form-control notRequired" id="timeZone" name="timeZone">
								</select>
							</div>
						</div>
						<div class="clearfix cron trigger">&nbsp;</div>
						
						<div class="row form-group simple daily trigger">
							<div class="col-xs-4"><label for="repeatCount">Repeat Count</label></div>
							<div class="col-xs-8">
								<input type="number" class="form-control" id="repeatCount" name="repeatCount" value="" placeholder="-1" 
									maxlength="10" pattern="^[0-9]{1,10}$" min="-1" max="2147483647"/>
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="clearfix simple daily trigger">&nbsp;</div>
						
						<div class="row form-group simple daily calendar trigger">
							<div class="col-xs-4"><label for="repeatInterval">Repeat Interval / Unit</label></div>
							<div class="col-xs-4">
								<input type="number" class="form-control" id="repeatInterval" name="repeatInterval" value=""
									maxlength="10" pattern="^[0-9]{1,10}$" min="0" max="2147483647" />
								<div class="help-block with-errors"></div>
							</div>
							<div class="col-xs-4">
								<select class="form-control" id="repeatIntervalUnit" name="repeatIntervalUnit">
									<option value="MILLISECOND">Millisecond</option>
									<option value="SECOND">Second</option>
									<option value="MINUTE">Minute</option>
									<option value="HOUR">Hour</option>
									<option value="DAY">Day</option>
									<option value="WEEK">Week</option>
									<option value="MONTH">Month</option>
									<option value="YEAR">Year</option>
								</select>
							</div>
						</div>
						<div class="clearfix simple daily calendar trigger">&nbsp;</div>
						
						<!-- /**
						<div class="row form-group trigger">
							<div class="col-xs-4"><label for="calendarName">Calendars</label></div>
							<div class="col-xs-8">
								<select class="form-control" id="calendarName" name="calendarName">
								
								</select>
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						**/ -->
						
						<div class="row form-group trigger">
							<div class="col-xs-4"><label for="misfireInstruction">Misfire Instruction</label></div>
							<div class="col-xs-8">
								<select class="form-control" id="misfireInstruction" name="misfireInstruction"
									 required="required" >
								
								</select>
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						
						<div class="row form-group trigger">
							<div class="col-xs-4"><label for="priority">Priority</label></div>
							<div class="col-xs-8">
								<input type="datetime" class="form-control" id="priority" name="priority" value="" maxlength="10"
									required="required" pattern="^[0-9]{1,10}$" />
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="clearfix trigger">&nbsp;</div>
						
						<div class="row  trigger">
							<div class="col-xs-4"><label for="startDate">Start Date</label></div>
							<div class="col-xs-4 form-group">
								<div class="input-group">
									<input type="datetime" class="form-control datepicker" id="startDate" name="startDate" value=""
										 required="required" maxlength="10" pattern="^[0-9]{2}\.[0-9]{2}\.201[0-9]$" />
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="col-xs-4 form-group">
								<div class="input-group bootstrap-timepicker timepicker">
									<input class="form-control" type="text" id="startTime" name="startTime" value=""
										 required="required" maxlength="10" pattern="^[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}$" />
									<div class="input-group-addon">
										<i class="fa fa-clock-o"></i>
									</div>
								</div>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="btn_save">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="confirmModal" class="modal fade modal-danger" tabindex="-1" role="dialog" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Remove Trigger</h4>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete the trigger?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-outline" id="btn_confirm">Confirm</button>
				</div>
			</div>
		</div>
	</div>
		
</body>
</html>

