<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">

	<th:block th:fragment="propertyInclude (properties, id)">
	
		<div class="table-responsive">
			<table class="table table-striped table-hover propsTable" th:id="${id}">
				<thead>
					<tr>
						<th>#</th>
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry,iterStat : ${properties}">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${entry.key}"></td>
						<td th:text="${entry.value}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>

</html>
