<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body >
	<!-- sec:authorize="${hasAnyRole(#vars.securityRoles)}"
		doesn't because DefaultWebInvocationPrivilegeEvaluator only validates for RLOE_USER ... spring security bug?
		th:if="${#authorization.url(#vars.rootContext + '/' + #vars.menuItem.name)}"
		
		sec:authorize="${hasAnyRole(#vars.menuItem.getAffectedSecurityRoles())}"
	 -->
	<th:block th:fragment="submenuIncludeSec (menuItem, withIcon)">
		<li th:class="${@adminToolMenuUtils.getListItemClass(activeMenu, menuItem)}" 
			th:remove="${menuItem.hide}? all : none"
			sec:authorize="${hasAnyRole(#vars.menuItem.getAffectedSecurityRoles())}">
			<a href="#" th:href="${rootContext} + '/' + ${menuItem.name}">
				<i class="fa fa-link" th:if="${withIcon}"></i>
				
				<span th:include="admintool/fragments/fragements :: message (${menuItem.resouceMessageKey}, ${menuItem.displayName})"></span>
				
				<!--/* 
				<span th:if="${internationalizationEnabled}" th:text="#{${menuItem.resouceMessageKey}}">messageKey</span>
				<span th:unless="${internationalizationEnabled}" th:text="${menuItem.displayName}">Link</span>
				*/-->
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right" th:if="${not #lists.isEmpty(menuItem.submenu)}"></i>
				</span>
			</a>
			<ul class="treeview-menu" th:if="${not #lists.isEmpty(menuItem.submenu)}">
			
				<th:block th:each="submenuItem,iterState : ${menuItem.submenu}">
					<th:block th:include="admintool/fragments/secFragements :: submenuIncludeSec (${submenuItem}, false)" />
				</th:block>
			</ul>
		</li>
	</th:block>

</body>
</html>