<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de">
	
	<th:block th:include="admintool/includes/header.inc" />

</head>

<body class="hold-transition skin-blue sidebar-mini">

	<!-- required links for JS -->
    <div th:include="admintool/includes/context.inc"> 
    </div>

	<div class="wrapper" id="admintool">

		<!-- Main Header -->
		<header class="main-header">

			<a th:replace="admintool/includes/logo.inc"></a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					
					<ul class="nav navbar-nav">
					
						<th:block th:each="adminComponent,iterState : ${@adminTool.components}">
							<th:block th:each="notification,iterState : ${adminComponent.notificationTemplates}">
								<li th:if="{null != notification}" th:replace="'admintool/' + ${notification}"></li>
							</th:block>
						</th:block>
					
					
						<!-- User Account Menu -->
						<li class="dropdown user user-menu" th:replace="admintool/includes/dropdownUserMenu.inc">
							
						</li>
						<!-- Control Sidebar Toggle Button -->
						<li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel" th:replace="admintool/includes/leftUserPanel.inc">
					
				</div>

				<!-- search form (Optional) -->
				<form action="#" method="get" class="sidebar-form" th:replace="admintool/includes/searchForm.inc">
					
				</form>
				<!-- /.search form -->
				
				<ul class="sidebar-menu">
					<li class="header">MAINMENU</li>
					<th:block th:each="adminComponent,iterState : ${@adminTool.components}">
						<th:block th:include="admintool/fragments/fragements :: submenuInclude (${adminComponent.mainMenu}, true)" />
					</th:block>
				</ul>
				 <!-- -->
				
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
		
			<th:block th:include="${contentPage} :: #template-content" />
			
		</div>
		<!-- /.content-wrapper -->
		
		<div class="modal fade" id="admintoolError" tabindex="-1" role="dialog" aria-labelledby="admintoolErrorLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content alert alert-danger">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="admintoolErrorLabel"><i class="icon fa fa-ban"></i>Error</h4>
					</div>
					<div class="modal-body">
						An Error has been occurred
					</div>
				</div>
			</div>
		</div>
		

		<!-- Main Footer -->
		<footer class="main-footer" th:include="admintool/includes/footer.inc">
			
		</footer>

		<aside class="control-sidebar control-sidebar-dark" th:replace="admintool/includes/controlSideBar.inc"></aside>
		
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
		       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	
	<th:block th:include="admintool/includes/js.inc" />
	
</body>

</html>