<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
<div layout:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Page Header <small>Optional description</small>
		</h1>
		<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Your Page Content Here -->

		<div class="info-box box-info">
			<div class="box-header with-border">
				<i class="fa fa-info"></i>
				<h3 class="box-title">Templating with adminlte.io</h3>
			</div>
			<div class="box-body">
				<p>Examples <a href="https://adminlte.io/themes/AdminLTE/index2.html" target="_blank">https://adminlte.io/themes/AdminLTE/index2.html</a></p>
				<p>Upgrade: <a href="https://adminlte.io/docs/2.4/upgrade-guide" target="_blank">https://adminlte.io/docs/2.4/upgrade-guide</a></p>
			</div>
		</div>
		
		<th:block th:include="admintool/includes/integrityCheck.inc" />
		
		<div class="row">
			<div class="col-md-3 col-xs-1"></div>
			<div class="col-md-6 col-xs-10">
				<div class="info-box box-info">
					<div class="box-header with-border">
						<i class="fa fa-info"></i>
						<h3 class="box-title">Demo-Info</h3>
					</div>
					<div class="box-body">
					
						<p>this is the overridden start page...</p>
					
						<h4>sign-in with button on upper right</h4>
						<p>username: admin</p>
						<p>password: admin</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-1"></div>
		</div>

	</section>
	<!-- /.content -->
</div>
</body>
</html>