<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de">
	
	<th:block th:include="admintool/includes/header.inc" />

</head>

<body class="hold-transition skin-blue sidebar-mini">

	<!-- required links for JS -->
    <div th:include="admintool/includes/context.inc"> 
    </div>

	<div class="wrapper" id="admintool">

		<!-- Main Header -->
		<header class="main-header">

			<a th:replace="admintool/includes/logo.inc"></a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					
					<ul class="nav navbar-nav">
						
					</ul>
				</div>
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<div class="login-box">
				<div class="login-logo">
					<a href="../../index2.html"><b>Admin</b>Tool</a>
				</div>
				<div class="login-box-body">
				
					<div th:if="${error}" class="alert alert-danger alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4><i class="icon fa fa-warning"></i> Error</h4>
						User name and/or password incorrect
					</div>
				
					<form method="post" th:action="@{login}">
						<div class="form-group has-feedback">
							<input name="username" class="form-control" type="text" placeholder="Username" autofocus="autofocus" tabindex="1"/>
							<span class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input name="password" class="form-control" type="password" placeholder="Password" tabindex="2"/>
							<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="row">
							<div class="col-xs-8"></div>
							<div class="col-xs-4">
								<button class="btn btn-primary btn-block btn-flat" type="submit" tabindex="3">Sign In</button>
							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					</form>
				</div>
			</div>

		</div>
		<!-- /.content-wrapper -->
		
		<div class="modal fade" id="admintoolError" tabindex="-1" role="dialog" aria-labelledby="admintoolErrorLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content alert alert-danger">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="admintoolErrorLabel"><i class="icon fa fa-ban"></i>Error</h4>
					</div>
					<div class="modal-body">
						An Error has been occurred
					</div>
				</div>
			</div>
		</div>
		

		<!-- Main Footer -->
		<footer class="main-footer" th:include="admintool/includes/footer.inc">
			
		</footer>

		<aside class="control-sidebar control-sidebar-dark" th:replace="admintool/includes/controlSideBar.inc"></aside>
		
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
		       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	
	<th:block th:include="admintool/includes/js.inc" />
	
</body>

</html>