<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="template-content">
		<section class="content-header">
			<h1>
				Log4j Console <small>Configuration</small>
			</h1>
			<ol class="breadcrumb"
				th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>


		<section class="content">

			<div class="box box-info"
				th:with="parentLoggers=${@adminToolLog4j2Util.getParentLoggers()}">

				<div class="box-header with-border">
					<h3 class="box-title">
						<i class="fa fa-bug"></i> Parent Loggers <span
							th:text="' ('+ ${parentLoggers.size()} +')'"></span>
					</h3>
					<button class="btn btn-default pull-right removeCustomLogger">Remove
						Custom Parent Loggers</button>
				</div>
				<div class="box-body">

					<div class="table-responsive">
						<table class="table no-margin table-hover" id="parentLoggers">
							<thead>
								<tr>
									<th>Name</th>
									<th>Level</th>
									<th>Change Level</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="logger, iterState : ${parentLoggers}"
									class="logrow parent">
									<td class="logname"
										th:text="${#strings.defaultString(logger.getName(),'ROOT')}"></td>
									<td th:text="${logger.getLevel()}"
										th:class="'loglevel text-center ' + ${@adminToolLog4j2Util.getLoggerLevelCss('bg', logger.getLevel())}"></td>
									<td class="logaction">
										<button
											th:each="level, levelState : ${@adminToolLog4j2Util.getLevels()}"
											th:text="${level}"
											th:class="'changeLogger btn btn-xs ' +  ${@adminToolLog4j2Util.getLoggerLevelCss('btn', level)}">
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box-footer clearfix">&nbsp;</div>

			</div>

			<div class="box box-info"
				th:with="allLoggers=${@adminToolLog4j2Util.getLoggers()}">

				<div class="box-header with-border">
					<h3 class="box-title">
						<i class="fa fa-bug"></i> All Loggers <span
							th:text="' ('+ ${allLoggers.size()} +')'"></span>
					</h3>
					<button class="btn btn-default pull-right removeCustomLogger">Remove
						Custom Loggers</button>
				</div>
				<div class="box-body">

					<div class="table-responsive">
						<table class="table no-margin table-hover" id="loggers">
							<thead>
								<tr>
									<th>Name</th>
									<th>Level</th>
									<th>Change Level</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="logger, iterState : ${allLoggers}" class="logrow">
									<td>
										<div class="logname"
											th:text="${#strings.defaultString(logger.getName(),'ROOT')}"></div>
									</td>
									<td th:text="${logger.getLevel()}"
										th:class="'loglevel text-center ' + ${@adminToolLog4j2Util.getLoggerLevelCss('bg', logger.getLevel())}"></td>
									<td class="logaction">
										<button
											th:each="level, levelState : ${@adminToolLog4j2Util.getLevels()}"
											th:text="${level}"
											th:class="'changeLogger btn btn-xs ' +  ${@adminToolLog4j2Util.getLoggerLevelCss('btn', level)}">
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box-footer clearfix">&nbsp;</div>

			</div>

		</section>
	</div>
</body>
</html>


