<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
	<body>
		<div layout:fragment="content">
			<section class="content-header">
				<h1>
					<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.profile.headline', 'User Profile')" />
				</h1>
				<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
			</section>
			<section class="content">
				<span id="relationType" style="visibility: hidden;">role</span>
				
				<div class="alert alert-warning alert-dismissible" th:if="${not #strings.isEmpty(#messages.msgOrNull('ui.admintool.security.db.profile.headInfo'))}">
	            	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
	            	<h4><i class="fa fa-warning"></i> Info</h4>
	                <th:block th:utext="${#messages.msgOrNull('ui.admintool.security.db.profile.headInfo')}"></th:block>
	            </div>
			
				<div class="box box-info" id="accessrelation">
					
					<div class="box-header with-border">
						<div class="row">
							<div class="col-xs-3 col-md-2">
								<h3 class="box-title">
									<i class="fa fa-user fa-2x" aria-hidden="true"></i>
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.profile.subHeadline', 'Profile')" />
								</h3>
							</div>
						</div>
					</div>
					
					<div class="box-body">
					
						<div class="table-responsive">
								<table class="table no-margin table-hover">
									<colgroup>
										<col width="25%" />
										<col width="75%" />
									</colgroup>
									<tbody>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.username', 'Username')" /></th>
											<td id="info_currentUsername" th:text="${currentUser.getUsername()}"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.passwordLogin', 'Last login')" /></th>
											<td id="info_lastLogin">
												<th:block th:if="${currentUser.getLastLogin()}" th:text="${#temporals.format(currentUser.getLastLogin(), 'yyyy-MM-dd HH:mm')}"></th:block>
											</td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.passwordLastChange', 'Last password change')" /></th>
											<td id="info_lastPwdChange" th:text="${#temporals.format(currentUser.getPasswordDate(), 'yyyy-MM-dd HH:mm')}">
												<th:block th:if="${currentUser.getPasswordDate()}" th:text="${#temporals.format(currentUser.getPasswordDate(), 'yyyy-MM-dd HH:mm')}"></th:block>
											</td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.firstLastName', 'First and last name')" /></th>
											<td id="info_first_last_name" th:text="${#strings.defaultString(currentUser.getFirstName(), '')} + ' ' + ${#strings.defaultString(currentUser.getLastName(), '')}"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.emailPhone', 'E-Mail | Phone')" /></th>
											<td id="info_email_phone" th:text="${#strings.defaultString(currentUser.getEmail(), '')} + ' | ' + ${#strings.defaultString(currentUser.getPhone(), '')}"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.localeTimeZone', 'Locale | Timezone')" /></th>
											<td id="info_locale_timeZone" th:text="${#strings.defaultString(currentUser.getLocale(), '')} + ' | ' + ${#strings.defaultString(currentUser.getTimeZone(), '')}"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.currentUserGroups', 'UserGroup relations')" /></th>
											<td id="info_currentUserGroups" th:text="${#strings.listJoin(currentUser.getUserGroupDisplayNames(),', ')}"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.clients', 'Client relations')" /></th>
											<td id="info_clients" th:text="${#strings.listJoin(currentUser.getClientDisplayNames(),', ')}"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.expired', 'Account expired since')" /></th>
											<td id="info_accountExpired" th:text="${currentUser.getAccountExpiredSince()} ? ${#temporals.format(currentUser.getAccountExpiredSince(), 'yyyy-MM-dd HH:mm')} : 'not expired'"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.locked', 'Account locked since')" /></th>
											<td id="info_accountLocked" th:text="${currentUser.getAccountLockedSince()} ? ${#temporals.format(currentUser.getAccountLockedSince(), 'yyyy-MM-dd HH:mm')} : 'not expired'"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.credExpired', 'Credentials expired (since)')" /></th>
											<td id="info_credExpired" th:text="${currentUser.getCredentialsExpiredSince()} ? ${#temporals.format(currentUser.getCredentialsExpiredSince(), 'yyyy-MM-dd HH:mm')} : 'not expired'"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.attempts', 'Login Attempts (last attempt)')" /></th>
											<td id="info_loginAttempts" th:text="${currentUser.getLoginAttempts()} + ' (' + (${currentUser.getLastLoginAttempt()} ? ${#temporals.format(currentUser.getLastLoginAttempt(), 'yyyy-MM-dd HH:mm')} : 'n/a') + ')'"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.created', 'Created')" /></th>
											<td id="info_created" th:text="${currentUser.getCreated()} ? ${#temporals.format(currentUser.getCreated(), 'yyyy-MM-dd HH:mm')} : 'n/a'"></td>
										</tr>
										<tr>
											<th><th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.currentUsers.modal.modified', 'Modified by (when)')" /></th>
											<td id="info_modified" th:text="${currentUser.getModifiedBy()} + ' (' + (${currentUser.getModified()} ? ${#temporals.format(currentUser.getModified(), 'yyyy-MM-dd HH:mm')} : 'n/a') + ')'"></td>
										</tr>
									</tbody>
								</table>
							</div>
					
					</div>
					
					<div class="box-footer clearfix">
					
					</div>
				
				</div>
				
			</section>
			
			
		</div>
	</body>
</html>