<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/anonymousLayout">
	<body>
		<div layout:fragment="content">

			<div class="login-box">
				<div class="login-logo">
					<a href="/"><b>Admin</b>Tool</a>
				</div>
				<div class="login-box-body">
				
					<div th:if="${!init} and ${!success}" class="alert alert-danger alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4><i class="icon fa fa-warning"></i>&nbsp;
							<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPasswortRequest.error.headline', 'Error')" />
						</h4>
						<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPasswortRequest.error.message', 'An error occured, please contact your system Administrator.')" />
					</div>
					
					<div th:if="${success}" class="alert alert-success alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4><i class="icon fa fa-info"></i>&nbsp;
							<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPasswortRequest.success.headline', 'Success')" />
						</h4>
						<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPasswordRequest.success.message', 'Successfully created the reset password request. Please check your emails.')" />
					</div>
				
					<form method="post" th:action="@{${adminToolContext} + '/accessmanagement/reset/password/request'}">
						
						<th:block th:if="${init} or ${!success}">
							<div class="form-group has-feedback">
								<input name="username" class="form-control" type="text" placeholder="Username" autofocus="autofocus" tabindex="1" required="required"/>
								<span class="glyphicon glyphicon-user form-control-feedback"></span>
								<div class="help-block with-errors"></div>
							</div>
						</th:block>
						
						<div class="row">
							<div class="col-xs-12">
								<button class="btn btn-primary btn-block btn-flat" type="submit" tabindex="2" th:if="${init} or ${!success}">
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPassword.btn.create', 'Create Reset Password Request')" />
								</button>
								
								<a class="btn btn-primary btn-block btn-flat" tabindex="2" th:href="@{${adminToolContext} + '/login'}" th:if="${!init} and ${success}">
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPassword.btn.backToLogin', 'Back to login')" />
								</a>
							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					</form>
				</div>
			</div>

		</div>
	
</body>

</html>