<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/anonymousLayout">
	<body>
		<div layout:fragment="content">

			<div class="login-box">
				<div class="login-logo">
					<a href="/"><b>Admin</b>Tool</a>
				</div>
				<div class="login-box-body" id="resetPassword">
				
					<div th:if="${!init} and ${!success}" class="alert alert-danger alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4><i class="icon fa fa-warning"></i>&nbsp;
							<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.core.security.login.error.headline', 'Error')" />
						</h4>
						<ul>
							<li th:each="aterror : ${errors}" th:text="${aterror.getMessage()}"></li>
						</ul>
					</div>
					
					<div th:if="${success}" class="alert alert-success alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4><i class="icon fa fa-info"></i>&nbsp;
							<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPasswort.success.headline', 'Success')" />
						</h4>
						<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPassword.success.message', 'Successfully reseted password the password.')" />
					</div>
				
					<form method="post" th:action="@{${adminToolContext} + '/accessmanagement/reset/password/update'}">
						
						<th:block th:if="${init} or ${!success}">
							<input name="passwordLinkHash" type="hidden" th:value="${passwordLinkHash}" />
							<div class="form-group has-feedback">
								<input name="username" class="form-control" type="text" placeholder="Username" autofocus="autofocus" required="required" tabindex="1"/>
								<span class="glyphicon glyphicon-user form-control-feedback"></span>
								<div class="help-block with-errors"></div>
							</div>
							
							<div class="form-group has-feedback">
								<div class="input-group">
									<input name="password" id="password" class="form-control" type="password" placeholder="Password" required="required" tabindex="2" />
									<span class="input-group-addon">
										<a id="generatePassword" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
									</span>
									<span class="input-group-addon">
										<a id="showPassword" href="#"><i class="fa fa-eye eye-switch"></i></a>
									</span>
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group has-feedback">
								<input name="passwordConfirm" class="form-control" type="password" placeholder="Password confirmation" required="required" tabindex="3"/>
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
								<div class="help-block with-errors"></div>
							</div>
						</th:block>
						
						<div class="row">
							<div class="col-xs-7"></div>
							<div class="col-xs-5">
								<button class="btn btn-primary btn-block btn-flat" type="submit" tabindex="4" th:if="${init} or ${!success}">
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.core.modal.btn.confirm', 'Confirm')" />
								</button>
								
								<a class="btn btn-primary btn-block btn-flat" tabindex="4" th:href="@{${adminToolContext} + '/login'}" th:if="${!init} and ${success}">
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.resetPassword.btn.backToLogin', 'Back to login')" />
								</a>
							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					</form>
				</div>
			</div>

		</div>
	
</body>

</html>