
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Page Header <small>Optional description</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
			<li class="active">Here</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Your Page Content Here -->
		
		<div class="box box-default" th:if="${@adminToolIntegrityUtil.hasMenuIntegrityErrors()}">
			<div class="box-header with-border">
				<h3 class="box-title">
				<i class="fa fa-warning"></i>
					Menu Integrity Errors
				</h3>
			</div>
			<div class="box-body">
			
				<div class="callout callout-danger" th:each="integrityError,iterState : ${@adminToolIntegrityUtil.checkMenuIntegrity()}">
					<h4 th:text="${integrityError.error}"></h4>
					<p th:inline="text">
						[[${integrityError.error} + ' on menu item occured ' + ${integrityError.menuEntries.size()} + ' times:']]
						<ul>
							<li th:each="errorEntry,iterState2 : ${integrityError.menuEntries}" th:text="${@adminToolMenuUtils.getBreadcrumb(errorEntry)}"></li>
						</ul>
					</p>
				</div>
			
			</div>
		</div>

	</section>
	<!-- /.content -->
