<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="language" content="de, deutsch" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>AdminTool</title>

<th:block th:each="cssPathEntry,iterStateCSS : ${@adminTool.globalStyleSheets}">
	<link rel="stylesheet" th:if="${cssPathEntry.getValue()}" th:href="${#httpServletRequest.getContextPath() + cssPathEntry.getKey()}" />
	<link rel="stylesheet" th:if="${!cssPathEntry.getValue()}" th:href="${cssPathEntry.getKey()}" />
</th:block>

<th:block th:each="adminComponent,iterState : ${@adminTool.components}">
	<th:block th:if="${@adminToolMenuUtils.hasMenuEntry(adminComponent, activeMenu)}">
		<th:block th:if="${not #maps.isEmpty(adminComponent.additionalCSS)}" th:each="cssPathEntry,iterStateCSS : ${adminComponent.additionalCSS}">
			<link rel="stylesheet" th:if="${cssPathEntry.getValue()}" th:href="${#httpServletRequest.getContextPath() + cssPathEntry.getKey()}" />
			<link rel="stylesheet" th:if="${!cssPathEntry.getValue()}" th:href="${cssPathEntry.getKey()}" />
			
		</th:block>
	</th:block>
</th:block>

<th:block th:if="${activeMenu != null}">
	<th:block th:if="${not #maps.isEmpty(activeMenu.additionalCSS)}" th:each="cssPathEntry,iterStateCSS : ${activeMenu.additionalCSS}">
		<link rel="stylesheet" th:if="${cssPathEntry.getValue()}" th:href="${#httpServletRequest.getContextPath() + cssPathEntry.getKey()}" />
		<link rel="stylesheet" th:if="${!cssPathEntry.getValue()}" th:href="${cssPathEntry.getKey()}" />
	</th:block>
</th:block>
</html>