<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
 
<th:block th:each="jsPathEntry,iterStateJS : ${@adminTool.globalJavaScripts}">
	<script th:if="${jsPathEntry.getValue()}" th:src="${#httpServletRequest.getContextPath() + jsPathEntry.getKey()}"></script>
	<script th:if="${!jsPathEntry.getValue()}" th:src="${jsPathEntry.getKey()}"></script>
</th:block>


<th:block th:each="adminComponent,iterState : ${@adminTool.components}" th:remove="tag">
	<th:block th:if="${@adminToolMenuUtils.hasMenuEntry(adminComponent, activeMenu)}" th:remove="tag">
		<th:block th:each="jsPathEntry,iterStateJS : ${adminComponent.additionalJS}">
			<script th:if="${jsPathEntry.getValue()}" th:src="${#httpServletRequest.getContextPath() + jsPathEntry.getKey()}"></script>
			<script th:if="${!jsPathEntry.getValue()}" th:src="${jsPathEntry.getKey()}"></script>
		</th:block>
	</th:block>
</th:block>	
</html>