<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/anonymousLayout">
	<body>
		<div layout:fragment="content">

			<div class="login-box">
				<div class="login-logo">
					<a href="/"><b>Admin</b>Tool</a>
				</div>
				<div class="login-box-body">
				
					<div th:if="${error}" class="alert alert-danger alert-dismissible">
						<button class="close" aria-hidden="true" data-dismiss="alert" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4><i class="icon fa fa-warning"></i>&nbsp;
							<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.core.security.login.error.headline', 'Error')" />
						</h4>
						<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.core.security.login.error.message', 'User name and/or password incorrect')" />
					</div>
				
					<form method="post" th:action="@{login}">
						<div class="form-group has-feedback">
							<input name="username" class="form-control" type="text" placeholder="Username" autofocus="autofocus" tabindex="1"/>
							<span class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input name="password" class="form-control" type="password" placeholder="Password" tabindex="2"/>
							<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<a class="btn btn-primary btn-block btn-flat" th:href="@{${adminToolContext} + '/accessmanagement/reset/password'}"
									tabindex="4" th:if="${@adminToolSecDBTemplateUtils.isCommunicatorImplemented()}">
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.security.db.login.btn.resetPassword', 'Reset Password')" />
								</a>
							</div>
							<div class="col-xs-2">
							</div>
							<div class="col-xs-4">
								<button class="btn btn-primary btn-block btn-flat" type="submit" tabindex="3">
									<th:block th:include="admintool/fragments/fragements :: message('ui.admintool.core.security.userMenu.signIn', 'Sign in')" />
								</button>
							</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					</form>
				</div>
			</div>

		</div>
	
</body>

</html>