<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				Quartz <small>Jobs</small>
			</h1>
			<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>
		
		<!-- Main content -->
		<section class="content">
		
			<div class="box box-info">
			
				<div class="box-header with-border">
					<h3 class="box-title">
					<a href="#"><i class="fa fa-refresh" id="reloadInclude" title="Reload"></i></a>
						Quartz Scheduler Jobs
					</h3>
					<div class="pull-right">
						<a href="#" id="autoreload" class="text-danger">(auto reload)</a>
					</div>
				</div>
				<div id="quartzJobsInc" class="box-body">
					<div th:replace="admintool/quartz/includes/quartzJobs.inc">
				</div>
				</div>
				<div class="box-footer clearfix">
				&nbsp;
				</div>
			</div>
			
			<!--/* Change trigger and Job modal */-->
			<div th:replace="admintool/quartz/fragments/quartzModals :: editJobTriggerModal">
			</div>
			
			<div th:replace="admintool/quartz/fragments/quartzModals :: editJobDataModal">
			</div>
		
			<div th:replace="admintool/quartz/fragments/quartzModals :: confirmModal">
			</div>
		
		</section>
	</div>
</body>
</html>


