<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="template-content">
		<section class="content-header">
			<h1>
				Quartz <small>Jobs</small>
			</h1>
			<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>
		
		<!-- Main content -->
		<section class="content">
		
			<div class="box box-info">
			
				<div class="box-header with-border">
					<h3 class="box-title">
					<i class="fa fa-refresh" id="reloadPage"></i>
						Quartz Scheduler Jobs
					</h3>
				</div>
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>Group</th>
									<th>Job (JobGroup)</th>
									<th>TriggerName</th>
									<th title="Cron Expression">Cron Expr.</th>
									<th title="Previous Fire Time">Prev. Fire Time</th>
									<th>Next Fire Time</th>
									<th>State</th>
									<th>Stateful</th>
									<th><i class="fa fa-bolt" title="Interruptable"></i></th>
									<th><i class="fa fa-refresh" title="Running"></i></th>
									<th><i class="fa fa-play" title="Execute"></i></th>
								</tr>
							</thead>
							<tbody th:with="groups = ${@adminToolQuartzService.getJobGroups()}">
							
								<span th:each="group, groupIter : ${groups}" th:remove="tag" >
								
									<span th:each="jobKey, jobkeyIter : ${@adminToolQuartzService.getJobKeys(group)}" th:remove="tag">
									
										<span th:with="triggers = ${@adminToolQuartzService.getTriggers(jobKey)}" th:remove="tag">
										
											<tr th:each="trigger, triggerIter : ${triggers}">
										
												<td th:if="${@adminToolQuartzService.isPrevGoupNotEq(group)}" th:text="${group}" 
													th:with="rowspan = ${jobkeyIter.size * triggerIter.size}" th:rowspan="${rowspan}">
												</td>
												
												<td th:if="${@adminToolQuartzService.isPrevJobNotEq(jobKey.getName())}" th:rowspan="${triggerIter.size}"
													th:title="${@adminToolQuartzService.isPaused(jobKey) ? 'paused' : 'running'}" 
													th:text="${jobKey.getName()}">
												</td>
												
												<td th:text="${#objects.nullSafe(trigger.getKey().getName(), 'N/A')}"></td>
												<td th:text="${@adminToolQuartzService.getCronExpression(trigger, 'N/A')}"></td>
												<td>
													<span th:if="${trigger.getPreviousFireTime() != null}" th:text="${#dates.format(trigger.getPreviousFireTime(), 'dd.MM.yyyy HH:mm')}" th:remove="tag"></span>
													<span th:unless="${trigger.getPreviousFireTime() != null}" th:remove="tag">N/A</span>
												</td>
												<td >
													<span th:if="${trigger.getNextFireTime() != null}" th:text="${#dates.format(trigger.getNextFireTime(), 'dd.MM.yyyy HH:mm')}" th:remove="tag"></span>
													<span th:unless="${trigger.getNextFireTime() != null}" th:remove="tag">N/A</span>
												</td>
												<td>
													<button th:class="'changeTriggerState btn btn-xs' + ${@adminToolQuartzService.isPaused(trigger) ? ' btn-warning' : ' btn-success'}"
														th:id="'changeTriggerState_' + ${group} + '_' + ${jobKey.getName()} + '_' + ${#objects.nullSafe(trigger.getKey().getName(), 'all')}"
														th:text="${@adminToolQuartzService.isPaused(trigger) ? 'resume' : 'running'}">
													</button>
												</td>
												<td th:if="${@adminToolQuartzService.isPrevJobNotEq(jobKey.getName())}" th:rowspan="${triggerIter.size}"
													th:text="${@adminToolQuartzService.isStateful(jobKey)}">
												</td>
												<td th:if="${@adminToolQuartzService.isPrevJobNotEq(jobKey.getName())}" th:rowspan="${triggerIter.size}">
													<button th:id="'interruptJob_' + ${group} + '_' + ${jobKey.getName()}" th:if="${@adminToolQuartzService.isInteruptable(jobKey)}" 
														class="interruptJob btn btn-xs btn-danger">Interrupt</button>
													<span th:unless="${@adminToolQuartzService.isInteruptable(jobKey)}" th:text="${@adminToolQuartzService.isInteruptable(jobKey)}" th:remove="tag"></span>
												</td>
												<td th:if="${@adminToolQuartzService.isPrevJobNotEq(jobKey.getName())}" th:rowspan="${triggerIter.size}"
													th:text="${@adminToolQuartzService.getCurrentlyExecutingAmount(jobKey)}">
												</td>
												<td th:if="${@adminToolQuartzService.isPrevJobNotEq(jobKey.getName())}" th:rowspan="${triggerIter.size}">
													<button th:id="'executeJob_' + ${group} + '_' + ${jobKey.getName()}" class="executeJob btn btn-info btn-xs">Execute</button>
												</td>
												<span th:with="dontCare = ${@adminToolQuartzService.setPrevGroup(group)}" th:remove="tag"></span>
												<span th:with="dontCare = ${@adminToolQuartzService.setPrevJob(jobKey.getName())}" th:remove="tag"></span>
											</tr>
										
										</span>
										
									</span>
									
								</span>
							
							</tbody>
						</table>
					</div>
				</div>
				<div class="box-footer clearfix">
				&nbsp;
				</div>
			</div>
		
				
			<!--/* Change trigger and Job modal */-->
			<div th:replace="admintool/quartz/fragments/quartzModals :: editJobTriggerModal">
			</div>
		
			<div th:replace="admintool/quartz/fragments/quartzModals :: confirmModal">
			</div>
		
		</section>
	</div>
</body>
</html>

