<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				Quartz <small>Configuration</small>
			</h1>
			<ol class="breadcrumb"
				th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>

		<section class="content">

			<div class="box box-info">

				<div class="box-header with-border">
					<h3 class="box-title">
						<i class="fa fa-refresh"></i> 
						<th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.subHeadline', 'Quartz Scheduler MetaData')" />
					</h3>
				</div>
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tblHead.name', 'Name')" /></th>
									<th><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tblHead.val', 'Value')" /></th>
								</tr>
							</thead>
							<tbody
								th:with="metaData = ${@adminToolQuartzService.getMetaData()}">
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.isRunning', 'Scheduler is running')" /></td>
									<td>
										<button id="changeScheduler"
											th:if="${@adminToolQuartzService.isStopSchedulerAllowed()}"
											th:class="${@adminToolQuartzService.isSchedulerRunning()} ? 'btn btn-success' : 'btn btn-danger'"
											th:text="${@adminToolQuartzService.isSchedulerRunning()}"
											th:title="${@adminToolQuartzService.isSchedulerRunning()} ? 'stop' : 'start'">
										</button>
										<span
											th:unless="${@adminToolQuartzService.isStopSchedulerAllowed()}"
											th:class="${@adminToolQuartzService.isSchedulerRunning()} ? 'btn btn-success' : 'btn btn-danger'"
											th:text="${@adminToolQuartzService.isSchedulerRunning()}">
										</span>
									</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.schedulerName', 'Scheduler name')" /></td>
									<td th:text="${metaData.getSchedulerName()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.schedulerInstance', 'Scheduler instance Id')" /></td>
									<td th:text="${metaData.getSchedulerInstanceId()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.schedulerVersion', 'Scheduler version')" /></td>
									<td th:text="${metaData.getVersion()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.jobsExecuted', 'Number of jobs executed')" /></td>
									<td th:text="${metaData.getNumberOfJobsExecuted()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.isStarted', 'is started')" /></td>
									<td th:text="${metaData.isStarted()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.inStandby', 'is in standby')" /></td>
									<td th:text="${metaData.isInStandbyMode()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.isRemote', 'Scheduler is remote')" /></td>
									<td th:text="${metaData.isSchedulerRemote()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.runningSince', 'is running since')" /></td>
									<td th:text="${#dates.format(metaData.getRunningSince(), 'dd.MM.yyyy HH:mm')}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.schedulerClass', 'Scheduler Class')" /></td>
									<td th:text="${metaData.getSchedulerClass().getName()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.threadPoolClass', 'Thread pool Class')" /></td>
									<td th:text="${metaData.getThreadPoolClass().getName()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.threadPoolSize', 'Thread pool size')" /></td>
									<td th:text="${metaData.getThreadPoolSize()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.jobStoreClass', 'JobStore Class')" /></td>
									<td th:text="${metaData.getJobStoreClass().getName()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.jobStoreClustered', 'Job store is clustered')" /></td>
									<td th:text="${metaData.isJobStoreClustered()}">Value</td>
								</tr>
								<tr>
									<td><th:block th:include="admintool/fragments/fragements :: message ('ui.admintool.core.quartz.config.tbl.jobStorePersisted', 'Job store supports persistence')" /></td>
									<td th:text="${metaData.isJobStoreSupportsPersistence()}">Value</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box-footer clearfix">&nbsp;</div>
			</div>


		</section>
	</div>
</body>
</html>


