<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body >
	
	<th:block th:fragment="submenuInclude (menuItem, withIcon)">
		<li th:if="${!menuItem.hide}" th:class="${@adminToolMenuUtils.getListItemClass(activeMenu, menuItem)}" >
			<a href="#" th:href="${rootContext} + '/' + ${menuItem.name}">
				<i class="fa fa-link" th:if="${withIcon}"></i>
				<span th:text="${menuItem.displayName}">Link</span>
				<i class="fa fa-angle-left pull-right" th:if="${not #lists.isEmpty(menuItem.submenu)}"></i>
			</a>
			<ul class="treeview-menu" th:if="${not #lists.isEmpty(menuItem.submenu)}">
				<th:block th:each="submenuItem,iterState : ${menuItem.submenu}">
					<th:block th:include="admintool/fragments/fragements :: submenuInclude (${submenuItem}, false)" />
				</th:block>
			</ul>
		</li>
	</th:block>
	
	<ol class="breadcrumb" th:fragment="breadcrumb">
		<li th:each="menuItem, iterState : ${@adminToolMenuUtils.getBreadcrumbList(activeMenu)}">
			<a href="#" th:inline="text" th:class="${iterState.last} ? 'active'">
				<i class="fa fa-dashboard" th:if="${iterState.first}"></i> 
				[[${menuItem.displayName}]]
			</a>
		</li>
	</ol>


</body>

</html>