<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="template-content">
		>
		<section class="content-header">
			<h1>
				Demo Dashboard <small>Part 4</small>
			</h1>
			<ol class="breadcrumb"
				th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<a class="btn btn-default btn-lg"
				href="https://almsaeedstudio.com/preview" role="button">AdminLTE</a>

		</section>
		<!-- /.content -->
	</div>
</body>
</html>

