<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="admintool/layout/standardLayout">
<body>
	<div layout:fragment="content">
		<section class="content-header">
			<h1>
				JMX Console <small>Configuration</small>
			</h1>
			<ol class="breadcrumb" th:replace="admintool/fragments/fragements :: breadcrumb"></ol>
		</section>
		<section class="content">
			<div class="fluidMedia">
				<iframe th:src="${#httpServletRequest.getContextPath() + jminixPath}"></iframe>
			</div>
		</section>
	</div>
</body>
</html>